
:root{
  /*Primary colors*/
  --Brown: #623434;
  --White: #FFFFFF;
  --Desaturated-yellow: #E4AE5B;

  /*Secondary colors*/
  --Soft-green: #81B45A;
  --Soft-red: #de5858;
  --Very-dark-brown: #292222;

  /*Font style*/
  --Pacifico: 'Pacifico', coursive;
  --Roboto: 'Roboto', sans-serif;
  --Font-darken: "700";
  --Fonth-lighteen: "300";
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body, #root{
  width:100vw;
  height:100vh;
}

.container{
  width:375px;
  height:800px;
}
